In [3]:
import pandas as pd
import numpy as np
import os

In [4]:
DATA_PATH = "portfolio_dataset.csv"
RESULTS_DIR = "results"
os.makedirs(RESULTS_DIR, exist_ok=True)

In [5]:
df = pd.read_csv(DATA_PATH)

In [6]:
print("Columns in dataset:", df.columns)

Columns in dataset: Index(['Date', 'Company', 'Asset_Type', 'Open', 'High', 'Low', 'Close',
       'Volume'],
      dtype='object')

In [7]:
# 2. Pivot table: each column = stock, values = Adj Close
price_df = df.pivot(index="Date", columns="Company", values="Close")

In [8]:
price_df.head()

Company,Advanced Micro Devices,Alphabet Inc,Amazon.com Inc,Apple Inc,Asian Paints,BSE Ltd,Bajaj Finance,Bharti Airtel,Bitcoin,Cardano,...,Meta Platforms Inc,Microsoft Corporation,NVIDIA Corporation,Netflix Inc,Reliance Industries,Solana,Tanla Platforms,Tata Consultancy Services,Tesla Inc,Wipro
Date,,,,,,,,,,,,,,,,,,,,,
2023-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16625.080078,0.249771,...,NaN,NaN,NaN,NaN,NaN,9.982173,NaN,NaN,NaN,NaN
2023-01-02,NaN,NaN,NaN,NaN,2960.424561,181.710922,646.238037,798.616272,16688.470703,0.253828,...,NaN,NaN,NaN,NaN,1175.889648,11.272967,691.928772,3121.404541,NaN,188.113312
2023-01-03,64.019997,88.588699,85.820000,123.330658,2941.965332,184.798798,651.414734,802.641174,16679.857422,0.252796,...,124.059402,234.423569,14.302285,294.950012,1167.284668,13.344046,690.774048,3169.162354,108.099998,190.027710
2023-01-04,64.660004,87.554909,85.139999,124.602699,2930.890869,179.979111,647.938965,796.947327,16863.238281,0.267677,...,126.675049,224.169174,14.735902,309.410004,1149.709595,13.435113,689.907715,3172.319824,113.639999,186.510025
2023-01-05,62.330002,85.686111,83.120003,123.281334,2918.747070,178.835434,601.500549,792.333313,16836.736328,0.269102,...,126.247398,217.525269,14.252331,309.700012,1147.655396,13.419330,676.867004,3168.922852,110.339996,185.169937

In [9]:
# 3. Calculate daily returns (percentage change)
returns_df = price_df.pct_change().dropna()

/tmp/ipykernel_6053/4116387759.py:2: FutureWarning: The default fill_method='pad' in DataFrame.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  returns_df = price_df.pct_change().dropna()

In [10]:
# 4. Calculate expected returns (mean of daily returns)
expected_returns = returns_df.mean()

In [11]:
# 5. Calculate covariance matrix of returns
cov_matrix = returns_df.cov()

In [12]:
returns_df.to_csv(os.path.join(RESULTS_DIR, "daily_returns.csv"))
expected_returns.to_csv(os.path.join(RESULTS_DIR, "expected_returns.csv"))
cov_matrix.to_csv(os.path.join(RESULTS_DIR, "cov_matrix.csv"))

In [13]:

print("✅ Preprocessing done. Files saved in /results")
print("Expected Returns (first few):\n", expected_returns.head())
print("Covariance Matrix shape:", cov_matrix.shape)

✅ Preprocessing done. Files saved in /results
Expected Returns (first few):
 Company
Advanced Micro Devices    0.001179
Alphabet Inc              0.001157
Amazon.com Inc            0.001418
Apple Inc                 0.001031
Asian Paints             -0.000313
dtype: float64
Covariance Matrix shape: (29, 29)